.local-timeline {
    width: 100%;
    background-color: rgb(20,20,20);
}
.local-timeline-card {
    background-color: rgb(40,40,40);
}
.local-timeline-card-title {
    color: white;
}
.local-timeline-card-subtitle {
    color: lightgray;
}
.local-timeline-card-content {
    font-size: 16px;
    color: lightgray;
}