.timeline-toolbar {
    position: fixed;
    top: 0;
    z-index: 10;
    height: 50px;
    width: 100%;
}
.timeline-content {
    display: flex;
    top: 0;
    padding-top: 50px;
    width: 100%;
}
.timeline-form {
    width: 100%;
    bottom: 0;
    position: sticky;
    background-color:rgba(10,10,10,0.8);
    color:white;
}